# Dependencies
node_modules/
**/node_modules/

# Security and Environment Variables
.env
.env.*
!.env.example
**/.env*
**/*.pem
**/*.key

# Production and Builds
**/build/
**/dist/
**/out/
**/.next/
**/.cache/

# Logs and Local Databases
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.db
*.sqlite

# System and IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-workspace
.swp

# Testing and Linters
**/coverage/
**/lcov-report/
**/.jest-cache/
**/cypress/videos/
**/cypress/screenshots/
.eslintcache
**/test-reports/
**/junit.xml
reporte.txt

# Media and Uploads
uploads/*
!uploads/.gitkeep