# =========================
# Dependencies
# =========================
node_modules/
**/node_modules/

# =========================
# Security and Environment
# =========================
.env
.env.*
!.env.example
**/.env*
**/*.pem
**/*.key

# =========================
# Builds and Frameworks
# =========================
**/build/
**/dist/
**/out/
**/.next/
**/.cache/

# =========================
# Cypress
# =========================
**/.cache/Cypress/
**/cypress/videos/
**/cypress/screenshots/
**/cypress/results/

# =========================
# Coverage & Reports
# =========================
**/coverage/
**/lcov-report/
**/test-reports/
**/junit.xml
reporte.txt

# =========================
# Logs & Local Data
# =========================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.db
*.sqlite

# =========================
# IDEs & System
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-workspace
*.swp

# =========================
# Media and Uploads
# =========================
uploads/*
!uploads/.gitkeep
