<section class="error-container server-error">
    <div class="error-visual">🔥</div>
    <header class="error-header">
        <h2 class="error-title">{{titulo}}</h2>
    </header>
    
    <article class="error-body">
        <p class="error-main-msg">Ha ocurrido un error interno en el servidor.</p>
        <p class="error-sub-msg">Estamos trabajando para solucionarlo. Por favor, inténtalo de nuevo más tarde.</p>
    </article>

    <footer class="error-actions">
        <a href="/" class="btn btn-login">Volver al Inicio</a>
    </footer>
</section>